devices: (
{
    name: "M585/M590 Multi-Device Mouse";
    smartshift:
    {
        on: true;
        threshold: 30;
    };
    hiresscroll:
    {
        hires: true;
        invert: false;
        target: false;
    };
    dpi: 1000;

    buttons: (
        # {
        #     cid: 0x52; # Scroll Middle Button
        #     action =
        #     {
        #         type: "Keypress";
        #         keys: ["KEY_A"];
        #     };
        # },
        {
            cid: 0x53; # Forward Button
            action =
            {
                type: "Keypress";
                keys: ["KEY_LEFTALT", "KEY_LEFT"];
            };
        },
        {
            cid: 0x56; # Back Button
            action =
            {
                type: "Keypress";
                keys: ["KEY_LEFTALT", "KEY_RIGHT"];
            };
        },
        {
            cid: 0x5b; # Scroll Left Button
            action =
            {
                type: "Keypress";
                keys: ["KEY_LEFTALT", "KEY_LEFTCTRL", "KEY_LEFT"];
            };
        },
        {
            cid: 0x5d; # Scroll Left Button
            action =
            {
                type: "Keypress";
                keys: ["KEY_LEFTALT", "KEY_LEFTCTRL", "KEY_RIGHT"];
            };
        }
    );
},
{
    name: "M720 Triathlon Multi-Device Mouse";
    smartshift:
    {
        on: true;
        threshold: 30;
    };
    hiresscroll:
    {
        hires: true;
        invert: false;
        target: false;
    };
    dpi: 1000;

    buttons: (
        {
            cid: 0x53; # Forward Button
            action =
            {
                type: "Keypress";
                keys: ["KEY_LEFTALT", "KEY_LEFT"];
            };
        },
        {
            cid: 0x56; # Back Button
            action =
            {
                type: "Keypress";
                keys: ["KEY_LEFTALT", "KEY_RIGHT"];
            };
        },
        {
            cid: 0x5b; # Scroll Left Button
            action =
            {
                type: "Keypress";
                keys: ["KEY_LEFTALT", "KEY_LEFTCTRL", "KEY_LEFT"];
            };
        },
        {
            cid: 0x5d; # Scroll Right Button
            action =
            {
                type: "Keypress";
                keys: ["KEY_LEFTALT", "KEY_LEFTCTRL", "KEY_RIGHT"];
            };
        },
        {
            cid: 0xd0; # Thumb Button
            action =
            {
                type: "Keypress";
                keys: ["KEY_LEFTMETA", "KEY_TAB"];
            };
        }
    );
}
);